<!DOCTYPE html>
<html>
<head>
<title>
	כמה אנשים יש בממשלה כרגע?
</title>
<link rel="stylesheet" type="text/css" href="static/howmany.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="static/jquery.fittext.js"></script>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div id="howmany">
		כמה אנשים יש בממשלה כרגע?
	</div>
	<div id="count">
		{{ how_many }}
	</div>
	<div id="rss">
		<img src="static/rss_icon.png">
	</div>
	<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
</body>
<script>
	$("#howmany").fitText(1.3);
	$("#count").fitText(0.25);
</script>
</html>
