@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/chunkfive-webfont.eot');
    src: url('fonts/chunkfive-webfont.eot?iefix') format('eot'),
         url('fonts/chunkfive-webfont.woff') format('woff'),
         url('fonts/chunkfive-webfont.ttf') format('truetype'),
         url('fonts/chunkfive-webfont.svg#webfont6hibqX7I') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	direction: rtl;
	text-align: center;
}

#howmany {
	color: #222;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	font-family: sans-serif;
}

#count {
	color: #fff;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font-family: 'ChunkFiveRegular';
    opacity: 0.7;
}

#rss {
	position: fixed;
	left: 0px;
	bottom: 0px;
	opacity: 0.7;
}

#bg {
	position:fixed; 
	top:-50%; 
	left:-50%; 
	width:200%; 
	height:200%;
	z-index: -1;
}

#bg img {
	position:absolute; 
	top:0; 
	left:0; 
	right:0; 
	bottom:0; 
	margin:auto; 
	min-width:50%;
	min-height:50%;
}
